
<div class="mt-4 container">
    <h1 class="title-page">Управление информационной системой гостиницы Dinosaur</h1>

    <table class="table mt-4 table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Collection</th>
                <th>Function</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Room type</td>
                <td>
                    <a href="/admin/room-type" class="btn-funtion">Просмотр</a>
                </td>
            </tr>

            <tr>
                <th>2</th>
                <td>Room</td>
                <td>
                    <a href="admin/room" class="btn-funtion">Просмотр</a>
                </td>
            </tr>

            <tr>
                <th>3</th>
                <td>Clerk</td>
                <td>
                    <a href="admin/clerk" class="btn-funtion">Просмотр</a>
                </td>
            </tr>

            <tr>
                <th>4</th>
                <td>Client</td>
                <td>
                    <a href="admin/client" class="btn-funtion">Просмотр</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>